ENV='development'
BOT_TOKEN=''
GROK_API_KEY=''
OPENAI_API_KEY=''
OPENROUTER_API_KEY=''
TOGETHER_API_KEY=''
HF_TOKEN=''
DATABASE_URL='postgresql://postgres:postgres@localhost/postgres'
ADMINS_USERNAMES=''
