ENV='development'
BOT_TOKEN=''
GROK_API_KEY=''
OPENAI_API_KEY=''
OPENROUTER_API_KEY=''
TOGETHER_API_KEY=''
HF_TOKEN=''
HF_INFERENCE_ENDPOINT_NAMESPACE=''
HF_TEXT_INFERENCE_ENDPOINT_NAME=''
HF_TEXT_INFERENCE_ENDPOINT_URL=''
HF_INFERENCE_ENDPOINT_URL=''
DATABASE_URL='postgresql://postgres:postgres@localhost/postgres'
ADMINS_USERNAMES=''
